*.mod
bin
tmp
.vs

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.a
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
_obj

# Dependency directories (remove the comment below to include it)
# vendor/

019_Export_C_library/number.h
